<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>



  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- <script src="scripts/app.js"></script> -->
<script src="scripts/controllers/main.js"></script>
  <!-- endbuild -->

<!-- Zoo core -->
<script src = "scripts/core/animal/Animal.js"></script>
<script src = "scripts/core/animal/CarnivoreAnimal.js"></script>
<script src = "scripts/core/animal/HerbivoreAnimal.js"></script>
<script src = "scripts/core/animal/carnivoreAnimal/Hedgehog.js"></script>
<script src = "scripts/core/animal/herbivoreAnimal/Elephant.js"></script>
<script src = "scripts/core/service/ZooService.js"></script>

<body >

  <div ng-app="Zoo" >

    <div ng-controller="AnimalsList">


<div class ="col-lg-4 col-xs-12" >
  <table class = "table">

    <tr ng-repeat = "animal in animals.getAnimals()" track by $index>
      <td> {{animal.name}}</td>
      <td> {{animal.type}}</td>
      <td> <button ng-click="kill(animal)"> kill </button>  </td>
      <td> <button ng-click="feed(animal)"> feed </button>  </td>
    </tr>

  </table>

</div>

  <div class ="col-lg-4 col-xs-12" >



    <form role="form">

     <div class="form-group">
       <label for="name"> Animal name:</label>
       <input type="text" name="animalName" ng-model="animal.name" class="form-control" id="email">
     </div>

     <div class="form-group">
       <label for="type">Animal type :</label>
       <select ng-model="animal.type" class = "form-control" id="type">

      <option ng-repeat = "type in animals.getAllTypes()"  value = "{{type}}" id="type">{{type}}</option>
    </select>
     </div>

     <div class="form-group">
       <label for="eatTime"> Animal eatTime :</label>
       <input type="text" name="animalEatTime" ng-model="animal.eatTime" class="form-control" id="eatTime">
     </div>

     <div class="form-group">
       <label for="activity">  Animal activity:</label>
       <input type="text" name="animalActivity" ng-model="animal.activity" class="form-control" id="activity">
     </div>
     <div class="form-group">
       <label for="size">  Animal size:</label>
       <input type="text" name="animalSize" ng-model="animal.size" class="form-control" id="size">
     </div>


     <button ng-click="addAnimal(animal)" class="btn btn-default">Add Animal</button>
   </form>
    </div>

    <div class="col-lg-4 col-xs-12">
    <ul>
      <li ng-repeat = "animal in animals.getAnimals()" track by $index>{{animal.getVoice()}} </li>
    </ul>
    </div>

</div>

</div>
</div>
</body>
</html>
