<div class ="col-lg-2 col-xs-4" >
  <form role="form">
   <div class="form-group">
     <label for="name"> Animal name:</label>
     <input type="text" name="animalName" ng-model="animal.name" class="form-control" id="name">
   </div>
   <div class="form-group">
     <label for="type">Animal type :</label>
     <select ng-model="animal.type" class = "form-control" id="type">
     <option ng-repeat = "type in animalType"  value = "{{type}}" id="type">{{type}}</option>
  </select>
   </div>
   <div class="form-group">
     <label for="eatTime"> Animal eatTime :</label>
     <input type="number" name="animalEatTime" ng-model="animal.eatTime" class="form-control" id="eatTime">
   </div>
   <div class="form-group">
     <label for="activity">  Animal activity:</label>
     <input type="number" name="animalActivity" ng-model="animal.activity" class="form-control" id="activity">
   </div>
   <div class="form-group">
     <label for="size">  Animal size:</label>
     <input type="number" name="animalSize" ng-model="animal.size" class="form-control" id="size">
   </div>
   <button ng-click="addAnimal(animal)" class="btn btn-default">Add Animal</button>
 </form>
</div>
